<!DOCTYPE html>
<html lang="ko">



<main id="main">
    <div class="container subpage">
        <div class="row">
             <!-- #ivsevent --><head>
                <meta charset="utf-8">
                <title>AWS</title>
                <meta content="width=device-width, initial-scale=1.0" name="viewport">
                <meta content="" name="keywords">
                <meta content="" name="description">

                <!-- Favicons -->
                <link href="/static/v2/img/favicon.png" rel="icon">

                <!-- Bootstrap CSS File -->
                <link href="/static/v2/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

                <!-- Libraries CSS Files -->
                <link href="/static/v2/lib/animate/animate.min.css" rel="stylesheet">
                <link href="/static/v2/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
                <link href="/static/v2/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

                <!-- Main Stylesheet File -->
                <link href="/static/v2/css/style.css" rel="stylesheet">

            </head>

            <body>

            <!--==========================
            Header
          ============================-->
            <header id="header" class="subheader">
                <div class="container-fluid">

                    <div id="logo" class="pull-left text-hide">
                        <a href="/"> AWS </a>
                    </div>

                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <% if (isMemberLogin) { %>
                                <li><a href="/ivsevent/">IVS EVENT</a></li>
                                <li><a href="/auth/logout">로그아웃</a></li>
                            <% } else { %>
                                <li><a href="/auth/login">로그인</a></li>
                                <li><a href="/membership/join">회원가입</a></li>
                            <% } %>
                        </ul>
                    </nav>
                    <!-- #nav-menu-container -->
                </div>
            </header>
            <!-- #header -->

            <section id="ivsevent">
                <div class="col-md-12 history-box">
                    <!-------------------------------->
                    <form action="/admin/users/ivsevents-transaction" method="post">
                    <input type="hidden" name="icoNo" value="1">
                    <input type="hidden" name="symbol" value="bnx">
                    <input type="hidden" name="totalBalance" value="1">
                    <h2>Total <%=total%>건</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover history">
                                <thead>
                                <tr>
                                    <th scope="col">USERNO</th>
                                    <th scope="col">EMAIL</th>
                                    <th scope="col">NAME</th>
                                    <th scope="col">MOBILE</th>
                                    <th scope="col">DATE</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-------------------------------->
                                <% if(userList!=(null&&"")){
                                     userList.forEach(function(user){
                                %>
                                <tr>
                                    <th scope="col"> <button type="submit" name="userNo" value="<%=user.userNo%>"> <%= user.userNo %></button></th>
                                    <td scope="row" class="date"><%=user.email %></td>
                                    <td scope="row" class="date"><%=user.userName %></td>
                                    <td class="sta"><%= user.mobileNo %></td>
                                    <td><%=user.createdDate%></td>
                                </tr>
                                <%
                                     });
                                } else { %>curr
                                <p>등록된 고객이 없습니다</p>
                                <%}%>
                                <!-------------------------------->
                                </tbody>
                            </table>
                      </div>
                    </div>
                        <input type="hidden" name="curr" value=<%=curr%>>
                    </form>
                    <br>
                    <% for (var i = 1; i <= page; i++) {
                         if (i == curr) { %>
                         <button disabled> <%=i%> </button>

                    <%   } else { %>
                    &nbsp;<button name="page" onClick="javascript:location.href='/admin/users?passwd=<%=passwd%>&curr=<%=i%>'"><%=i%></button>&nbsp;
                    <%   }
                    }; %>
                </div>
                 <!-- .row -->
                <!-- .container -->
            </section>
            <!-- #ivsevent -->
        </div>

    </div>
    <!-- #container -->
</main>


<!--==========================
Footer
============================-->
<footer id="footer" class="subfooter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <a href="#" data-toggle="modal" data-target="#privacy-policy">개인정보처리방침</a> &nbsp;
                <a href="#" data-toggle="modal" data-target="#terms">이용약관</a>
            </div>
            <div class="col-md-6">
                © 2020, Amazon Web Services, Inc. 또는 자회사. All rights reserved.
            </div>
        </div>
    </div>
</footer>
<!-- #footer -->

<!-- <a href="#" class="back-to-top"><i class="la la-chevron-up"></i></a>-->

<!-- JavaScript Libraries -->
<script src="/static/v2/lib/jquery/jquery.min.js"></script>
<script src="/static/v2/lib/jquery/jquery-migrate.min.js"></script>
<script src="/static/v2/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/v2/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/v2/lib/easing/easing.min.js"></script>
<script src="/static/v2/lib/superfish/hoverIntent.js"></script>
<script src="/static/v2/lib/superfish/superfish.min.js"></script>
<script src="/static/v2/lib/wow/wow.min.js"></script>
<script src="/static/v2/lib/waypoints/waypoints.min.js"></script>
<script src="/static/v2/lib/counterup/counterup.min.js"></script>
<script src="/static/v2/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/static/v2/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/static/v2/lib/lightbox/js/lightbox.min.js"></script>
<script src="/static/v2/lib/touchSwipe/jquery.touchSwipe.min.js"></script>


<!-- Template Main Javascript File -->
<script src="/static/v2/js/main.js"></script>

</body>

</html>
